.u-sr-only {
  position: absolute !important;
  inline-size: 1px !important;
  block-size: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.u-hidden   { display: none !important; }
.u-visible  { visibility: visible !important; }
.u-invisible { visibility: hidden !important; }

.u-opacity-0   { opacity: 0 !important; }
.u-opacity-50  { opacity: 0.5 !important; }
.u-opacity-100 { opacity: 1 !important; }
